body {
  font-family: 'Montserrat', sans-serif;

}

header {
  width: 100%;
  height: 60px;
  background-color: #EEE;
  display: flex;
  align-items: center;
}

header > .logo {
  margin: 12px;
  font-size: 24px;
  font-weight: 800;
}

main {
  margin: 40px auto;
  width: 67%;
  display: flex;
  align-items: center;
}

main > .arrow-container {
  width: 40px;
  margin: 60px;
  min-height: 400px;
}

main .arrow {
  min-width: 40px;
  height: 40px;
  background-color: #5cba14;
  cursor: pointer;

  font-size: 28px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main > .card {
  flex-grow: 2;
  padding: 60px;
  min-height: 400px;
}

main > .card > form {
  padding: 20px;
}


main > .card > form > input {
  width: 100%;
}




